html, body, #root, .page {
	height: 100%;
	font-family: "Raleway", sans-serif;

}
.container.black {
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}
.navBar {
	text-align: center;
	padding: 5px 0 15px 0;
}
.nav {
	display: inline-block;
	margin: 0 5%;
	font-size: 18px;
	line-height: 1.5;
	color: white;
	cursor: pointer;
}
.nav::before, .nav::after {
	content: "";
	position: relative;
	display: block;
	height: 1px;
	width: 0px;
	background-color: #5b88f6;
	transition: all 0.2s ease-in-out;
}
.nav::before {
	left: 100%;
}
.nav::after {
	left: 0;
}
.nav:hover::before, .nav:hover::after, .nav.open::before, .nav.open::after {
	width: 100%
}
.nav:hover::before, .nav.open::before {
	left: 0;
}
